<link rel="stylesheet" href="/stylesheets/components.progress_bar.min.css" />
<input type="hidden" id="comp-progbar-data-metric" class="data-hidden" value="{{metric}}">
<div class="comp-progbar-outer">
	<div class="comp-progbar-inner"></div>
	<div class="comp-progbar-text"></div>
</div>
<script src="/javascripts/progress_bar.js"></script>
