<div class="overlay-schedule-day {{#if active}}active{{/if}} {{#if inactive}}inactive{{/if}}">
	<h1 class="overlay-schedule-title">{{day}}</h1>
	<div class="overlay-schedule-content">{{game}}</div>
</div>
