{{!-- Source: https://codepen.io/thebabydino/pen/LzlhE --}}
<div class='polyhedron polyhedron--rhombic-dodecahedron {{additionalClasses}}'>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
  <div class='piece polyhedron--rhombic-pyramid'>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <div class='face face--lateral-triangle'></div>
    <!--<div class='face face--base-rhombus'></div>-->
  </div>
</div>
