<link rel="stylesheet" href="/stylesheets/alerts.min.css" />
<div class="alerts-bits-container">
	{{#if icon}}<div class="alerts-bits-icon icon-{icon}"></div>{{/if}}
	<div class="alerts-bits-message">{{message}}</div>
</div>
<!-- <script src="/javascripts/handlebars.runtime-v4.0.5.js"></script>
<script src="/javascripts/templates.precompiled.js"></script>
<script src="/javascripts/bit_shooter.js"></script> -->
