<link rel="stylesheet" href="/stylesheets/components.bit_shooter.min.css" />
<div class="comp-bs-container comp-bs-space">
	<div class="origin"></div>
	<!-- <div class="comp-bs-bit comp-bs-starbit">A</div>
	<div class="comp-bs-bit comp-bs-starbit">C</div> -->
	<div class="comp-bs-target comp-bs-luma"></div>
	<!-- {{>cube additionalClasses="comp-bs-target comp-bs-luma"}} -->
</div>
<button id="click">Click</button>
<script src="/javascripts/handlebars.runtime-v4.0.5.js"></script>
<script src="/javascripts/templates.precompiled.js"></script>
<script src="/javascripts/bit_shooter.js"></script>
