<link rel="stylesheet" href="/stylesheets/components.box_waterfall.min.css" />
<div class="comp-bs-container comp-bs-space">
	<img id="init" src="/images/crash-box-waterfall-initial.gif" />
	<img id="loop" src="/images/crash-box-waterfall-loop.gif" />
	<img id="end" src="/images/crash-box-waterfall-end.gif" />
	<div id="info" style="color:white"></div>
	<!-- <img src="/images/crash-box-waterfall-loop.gif" /> -->
</div>
<button id="click">Click</button>
<script src="/javascripts/box_waterfall.js"></script>
